/*TIPOS DE FUENTES*/
$fontplex:'IBM Plex Mono', monospace;
$fontsans:'IBM Plex Sans', sans-serif;

/*TAMAÑOS DE FUENTES*/
$fontsizexxs:14px;
$fontsizexs: 16px;
$fontsizes: 18px;
$fontsizexm: 24px;
$fontsizem:36px;
$fontsizel: 48px;
$fontsizexl: 64px;

/*COLORES*/
$color_blanco:#ffffff;
$color_azul_font:#060A24;
$color_verde:#00F3BB;
$color_link_active:#8F060A24;
$color_azul: #0000ec;
$color_gris:#808080;

$color_azul_gradient: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$color_gradient_bt:linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);

